# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual Environment
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Database
*.db
*.sqlite3

# Uploads
uploads/

# Logs
*.log
pip_log.txt

# IDE
.vscode/
.idea/

# Zip files
*.zip

# OS
.DS_Store
Thumbs.db
